body{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px,1fr);
    grid-template-rows: 0.2fr 2fr 0.2fr;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px red;
    width: 200px;
    height: 350px;
}
.header{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
}
.books{
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
    justify-items:center;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 3;
}
.button-add{
    padding:10px;
    border-radius: 20px;
    box-shadow: 1px 1px red;
}
.button-add:hover{
    opacity:0.8;
}


.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    
}
.modal-content{
    display: flex;
    background-color: rgb(151, 80, 80);
    padding: 20px;
    margin: auto;
    margin-top: 20%;
    border: 1px solid black;
    border-radius: 25px;
    width: 200px;
    height: 350px;
}
#add-book{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#add-book #title,#add-book #author,#add-book #pages{
    outline: none;
    width:160px;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
}
#add-book input[type="submit"]{
    outline: none;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color: inherit;
    font-weight: bold;
}
#add-book input[type="submit"]:hover{
    opacity: 0.3;
}

.close{
    color: black;
    position: relative;
    top: -10px;
    right: -190px;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.cardButton{
    outline: none;
    border: 1px solid red;
    border-radius: 25px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    font-size: 16px;
}
.cardButton:hover{
    opacity: 0.8;
}
